In [603]:
import pandas as pd
import numpy as np

# Data Load

In [604]:
data = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
df = pd.read_csv(data)

In [605]:
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

# Data Preprocessing

In [606]:
x = df.iloc[:,0:13]
y = df.iloc[:, -1]

In [607]:
x["intercept"]=1
x = x[x.columns[::-1]]
del x['chas']

In [608]:
x

,intercept,lstat,b,ptratio,tax,rad,dis,age,rm,nox,indus,zn,crim
0,1,4.98,396.90,15.3,296,1,4.0900,65.2,6.575,0.538,2.31,18.0,0.00632
1,1,9.14,396.90,17.8,242,2,4.9671,78.9,6.421,0.469,7.07,0.0,0.02731
2,1,4.03,392.83,17.8,242,2,4.9671,61.1,7.185,0.469,7.07,0.0,0.02729
3,1,2.94,394.63,18.7,222,3,6.0622,45.8,6.998,0.458,2.18,0.0,0.03237
4,1,5.33,396.90,18.7,222,3,6.0622,54.2,7.147,0.458,2.18,0.0,0.06905
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,1,9.67,391.99,21.0,273,1,2.4786,69.1,6.593,0.573,11.93,0.0,0.06263
502,1,9.08,396.90,21.0,273,1,2.2875,76.7,6.120,0.573,11.93,0.0,0.04527
503,1,5.64,396.90,21.0,273,1,2.1675,91.0,6.976,0.573,11.93,0.0,0.06076
504,1,6.48,393.45,21.0,273,1,2.3889,89.3,6.794,0.573,11.93,0.0,0.10959
505,1,7.88,396.90,21.0,273,1,2.5050,80.8,6.030,0.573,11.93,0.0,0.04741

In [609]:
xx = x.to_numpy()

# QR Decomposition

In [610]:
Q = []
a = xx.copy()
for i in range(np.shape(a)[1]):
    s = a[:,i]
    for j in range(i):
        s -= (np.dot(a[:,i],a[:,j])/np.sum(a[:,j]*a[:,j]))*a[:,j]
    Q.append(s/np.sqrt(np.sum(s*s)))
Q = np.transpose(Q)

In [611]:
R = np.zeros(shape=(13,13))
for i in range(np.shape(a)[1]):
    for j in range(i+1):
        R_temp = np.dot(Q[:,j],xx[:,i])
        R[j,i] = R_temp

In [612]:
A = Q@R

In [613]:
pd.DataFrame(A)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1.0,4.98,396.90,15.3,296.0,1.0,4.0900,65.2,6.575,0.538,2.31,1.800000e+01,0.00632
1,1.0,9.14,396.90,17.8,242.0,2.0,4.9671,78.9,6.421,0.469,7.07,-6.737939e-15,0.02731
2,1.0,4.03,392.83,17.8,242.0,2.0,4.9671,61.1,7.185,0.469,7.07,4.119100e-14,0.02729
3,1.0,2.94,394.63,18.7,222.0,3.0,6.0622,45.8,6.998,0.458,2.18,3.136188e-14,0.03237
4,1.0,5.33,396.90,18.7,222.0,3.0,6.0622,54.2,7.147,0.458,2.18,3.786622e-14,0.06905
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,1.0,9.67,391.99,21.0,273.0,1.0,2.4786,69.1,6.593,0.573,11.93,1.253383e-13,0.06263
502,1.0,9.08,396.90,21.0,273.0,1.0,2.2875,76.7,6.120,0.573,11.93,7.751398e-14,0.04527
503,1.0,5.64,396.90,21.0,273.0,1.0,2.1675,91.0,6.976,0.573,11.93,1.463155e-13,0.06076
504,1.0,6.48,393.45,21.0,273.0,1.0,2.3889,89.3,6.794,0.573,11.93,1.327832e-13,0.10959
505,1.0,7.88,396.90,21.0,273.0,1.0,2.5050,80.8,6.030,0.573,11.93,6.695400e-14,0.04741

In [614]:
x

,intercept,lstat,b,ptratio,tax,rad,dis,age,rm,nox,indus,zn,crim
0,1,4.98,396.90,15.3,296,1,4.0900,65.2,6.575,0.538,2.31,18.0,0.00632
1,1,9.14,396.90,17.8,242,2,4.9671,78.9,6.421,0.469,7.07,0.0,0.02731
2,1,4.03,392.83,17.8,242,2,4.9671,61.1,7.185,0.469,7.07,0.0,0.02729
3,1,2.94,394.63,18.7,222,3,6.0622,45.8,6.998,0.458,2.18,0.0,0.03237
4,1,5.33,396.90,18.7,222,3,6.0622,54.2,7.147,0.458,2.18,0.0,0.06905
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,1,9.67,391.99,21.0,273,1,2.4786,69.1,6.593,0.573,11.93,0.0,0.06263
502,1,9.08,396.90,21.0,273,1,2.2875,76.7,6.120,0.573,11.93,0.0,0.04527
503,1,5.64,396.90,21.0,273,1,2.1675,91.0,6.976,0.573,11.93,0.0,0.06076
504,1,6.48,393.45,21.0,273,1,2.3889,89.3,6.794,0.573,11.93,0.0,0.10959
505,1,7.88,396.90,21.0,273,1,2.5050,80.8,6.030,0.573,11.93,0.0,0.04741

# Least Square Method

In [615]:
Y = np.transpose(Q)@y

In [616]:
beta = np.zeros(np.shape(Y))

for i in range(13-1, -1, -1):
    tmp = Y[i]
    for j in range(13-1, i, -1):
        tmp -= beta[j]*R[i,j]
        
    beta[i] = tmp/R[i,i]

In [617]:
beta

array([ 3.68919598e+01, -5.34157620e-01,  9.74145094e-03, -9.90958031e-01,
       -1.37558288e-02,  3.28311011e-01, -1.48537390e+00,  2.78375651e-03,
        3.85049169e+00, -1.73669994e+01,  4.03114536e-02,  4.70524578e-02,
       -1.13139078e-01])

# Comparison

In [618]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x, y)

LinearRegression()

In [633]:
print("ì ˆíŽ¸: ", mlr.intercept_,"\n" "ê³„ìˆ˜: ", mlr.coef_)

ì ˆíŽ¸:  36.89195979693335
ê³„ìˆ˜:  [ 0.00000000e+00 -5.34157620e-01  9.74145094e-03 -9.90958031e-01
 -1.37558288e-02  3.28311011e-01 -1.48537390e+00  2.78375651e-03
  3.85049169e+00 -1.73669994e+01  4.03114536e-02  4.70524578e-02
 -1.13139078e-01]